@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@300;400;700&family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Lato', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content-div{
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover{
  background-image: linear-gradient(
    to right,
    rgba(187, 165, 253, 0.8),
    rgba(179, 152, 236, 0.8)
  )!important;
  opacity: 1;
}

.toggle>*{
  width: 2rem;
  height: 1rem;
}



@media screen and (max-width: 480px) {
  /* Main Js */
  .main-container {
    padding: 2rem;
    height: 65%;
  }

}

/* End of media query */

.logo{
  font-family: 'Dancing Script', cursive;
}


.image-container>* {
  position: absolute;
  z-index: 1;
}

/* Vector */
.image-container>:nth-child(1) {
  transform: scale(0.69);
  left: 15%;
  top: -9%;
}

/* glassses emoji */
.image-container>:nth-child(2) {
  transform: scale(0.87);
  left: 2rem;
  top: 2rem;
}

/* .image-container>:nth-child(4) {
  transform: scale(1.4);
  left: -28%;
} */

/* Crown */
.image-container>:nth-child(3) {
  transform: scale(0.65);
  padding: 0px;
  top: 12%;
  left: 70%;
  border-radius: 50%;
}

.floating-div {
  box-shadow: var(--boxShadow);
  padding: 0px 28px 0px 0px;

}

.floating-div>img {
  transform: scale(0.4);
}

.floating-div>span {
  font-family: sans-serif;
  font-size: 16px;
}

.blur {
  position: absolute;
  width: 30rem;
  height: 18rem;
  border-radius: 50%;
  background: #9925dc;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
}

.blurs {
  position: absolute;
  width: 30rem;
  height: 20rem;
  border-radius: 50%;
  filter: blur(252px);
  z-index: -9;
  top: 17rem;
  left: 56%;
  background-color: rgb(46, 114, 217)
}

.bords{
border: 3px solid var(--orangeCard);
box-shadow: var(--boxShadow);
border-radius: 20px;
padding: 0px 26px 2rem 26px;
}


